.bs-about {

	&__left {
		text-align: right;
		padding: 40px 0 0 0;

		@media #{$s} {
			text-align: center;
		}
	}

	&__right {
			padding: 40px;

			h3 {
				color: RGBA(241, 54, 78, 1.00);
				display: inline-block;
				padding-bottom: 20px;

				&:after {
					display: block;
					content: ' ';
					width: 60%;
					border-bottom: 2px solid RGBA(241, 54, 78, 1.00);
				}
			}

			p {
				display: block;
				width: 80%;
				line-height: 2;
			}
		}


}

.bs-footer {

	&__left {
		height: 400px;
		background: RGBA(60, 81, 95, 1.00);
		color: #fff;
		padding: 50px 60px 0 60px;
		img {
			display: block;
			margin: 30px 0;
				@media #{$s} {
					display: initial;
				}
		}

		p {
			color: #fff;
		}

		@media #{$s} {
			text-align: center;
		}
	}
	
	&__right {
		height: 400px;
		padding: 0;

		
		&--top {
			width: 100%;
			height: 200px;
			background: RGBA(247, 247, 247, 1.00);
			padding: 40px;
			
			@media #{$s} {
				height: auto;
			}

		}

		&--bottom {
			width: 100%;
			height: 200px;
			background: RGBA(43, 58, 68, 1.00);
			color: #fff;
			padding: 40px;

			@media #{$s} {
				height: auto;
			}

			div {
				margin-bottom: 15px;
			}

			a {
				color: #fff;
			}
		}
	}

	&__bottom {
		&--top {
			width: 100%;
			background: RGBA(46, 67, 81, 1.00);
			padding: 7px 0;
			text-align: center;
			float: left;

			h6 {
				color: #808080;
			}
		}

		&--bottom {
			width: 100%;
			float: left;
			padding: 30px;
			text-align: right;
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			a {
				color: #3c515f;
			}
		}
	}
}