.bs-footer {

	&__left {
		height: 400px;
		background: RGBA(60, 81, 95, 1.00);
		color: #fff;
		padding: 50px 60px 0 60px;
		img {
			display: block;
			margin: 30px 0;
		}
		p {
			color: #fff;
		}
	}
	
	&__right {
		height: 400px;
		padding: 0;

		
		&--top {
			width: 100%;
			height: 200px;
			background: RGBA(247, 247, 247, 1.00);
			padding: 40px;
			display: flex;

		}

		&--bottom {
			display: flex;
			width: 100%;
			height: 200px;
			background: RGBA(43, 58, 68, 1.00);
			color: #fff;
			padding: 40px;
			 justify-content: space-between;

			a {
				color: #fff;
			}
		}
	}

	&__bottom {
		&--top {
			background: RGBA(46, 67, 81, 1.00);
			padding: 7px 0;
			text-align: center;

			h6 {
				color: #808080;
			}
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			a {
				color: #3c515f;
			}
		}
	}
}