.bs-footer {
	display: flex;

	&__left {
		height: 400px;
		background: RGBA(60, 81, 95, 1.00);
	}
	&__right {
		height: 400px;
		padding: 0;
		display: flex;
		
		&--top {
			height: 200px;
			background: RGBA(247, 247, 247, 1.00);
		}

		&--bottom {
			height: 200px;
			background: RGBA(43, 58, 68, 1.00);
		}
	}

	&__menu {
		margin: 0;
	}
}