input {
	height: $bs-input-height;
	border: 1px solid $bs-input-border-color;
	transition: all 300ms;
	padding: 6px 12px;
	&:focus {
		border-color: $bs-input-border-focus-color;
		box-shadow: none;
		outline: none;
	}
}

.input-inline {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}