  .slider {
  	 width: 100%;
    position: relative;
    transition: left 400ms ease;
		overflow: hidden;
		&__viewport {
    	width: 100%;
    	position: relative;
  		transition: left 400ms ease;
    	height: 520px;
  	}
		
		&__slide {
    width: 100%;
    background: #274F5E;
    display: flex;
		float: left;
		h2, h3 {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
		}

		h2 {
			font-size: 72px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: 0.93;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59);
		}

		h3 {
			font-size: 25px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 2.68;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59);
			
		}

  }
}
