  .slider {
  	 width: 100%;
    position: relative;
    transition: left 400ms ease;
		overflow: hidden;

		&__viewport {
    	width: 100%;
    	position: relative;
  		transition: left 400ms ease;
    	height: 520px;
  	}
		
		&__slide {
   	 	width: 100%;
			background: #274F5E;
			display: flex;
			float: left;
			align-content: flex-end;
			flex-direction: column;
			justify-content: flex-end;
			padding-bottom: 90px;
		
		h2, h3 {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
		}

		h2 {
			font-size: (70 / 15) * 1em;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: 0.93;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59);

			@media #{$s} {
				font-size: 3em;
			}
		}

		h4 {
			display: block;
			width: 50%;
			margin: 20px auto;
			font-size: (20 / 15) * 1em;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.7;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59);

			@media #{$s} {
				width: 60%;
				font-size: .9em;
				line-height: 1.5;
			}
		}

  }
}
  
  .slider__btns button {
		position: absolute;
    top: 45%;
    height: 45px;
    display: block;
  	background: transparent;
   	border: none;
    cursor: pointer;
		font-size: 42px;
		color: #fff;
  }
	
  
  .slider__btns__prev {
  	position: absolute;
    left: 30px;
		@media #{$s} {
			left: 5px;
			padding: 0;
		}
  }
  
  .slider__btns__next {
  	position: absolute;
    right: 30px; 
		@media #{$s} {
			right: 5px;
			padding: 0;
		}
  }