.header-banner {
	background: #F1364E;
	font-size: 2em;
	text-align: center;
	color: #fff;
	padding: 20px 0;
	float: none;
	margin: 0 auto;
	margin-bottom: -40px !important;
	z-index: 1010;
	text-transform: uppercase;
	
	@media #{$s} {
		font-size: 1.5em;
		padding: 20px;
		margin-bottom: 0 !important;
	}
}
