.header-banner {
	background: #F1364E;
	font-size: (30 / $font-size-base) * 1em;
	text-align: center;
	color: #fff;
	padding: 40px 0;
	float: none;
	margin: 0 auto;
	margin-bottom: -40px !important;
	z-index: 1010;
	text-transform: uppercase;

	@media #{$s} {
		padding: 20px 0;
		margin-bottom: 0;
	}
}
