@keyframes moveAnchor {
    from {bottom: 40px;}
    to {bottom: 30px;}
}

.slider {
  	 width: 100%;
    position: relative;
    transition: left 400ms ease;
		overflow: hidden;

		@media #{$s} {
			height: 200px !important;
		}

		&__viewport {
    	width: 100%;
    	position: relative;
  		transition: left 400ms ease;
    	height: 520px;
			@media #{$s} {
				height: 200px !important;
			}
  	}
		
		&__slide {
   	 	width: 100%;
			background: #274F5E;
			float: left;
			position: relative;
			background-size: cover;

			@media #{$s} {
				height: 200px !important;
			}

			&__link-zone {
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				position: absolute;
			}

			&__anchor {
				display: block;
				margin: 0 auto;
				width: 50px;
				position: absolute;
				bottom: 40px;
				left: 0;
				right: 0;
				animation: moveAnchor 1s linear 1s infinite alternate;
			}

			&__content {
				position: absolute;
				bottom: 0;
				background: RGBA(244, 244, 244, 1);
				padding: 20px 0;
				max-width: 1140px;
				margin: auto;
				left: 0;
				right: 0;

				@media #{$s} {
					padding: 20px 0;
				}
				
				h2 {
					font-size: 2.5em;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.93;
					letter-spacing: normal;
					text-align: center;
					color: #3c515f;
					text-transform: uppercase;
					
					@media #{$s} {
						font-size: 2em;
					}
				}

			h4 {
				display: block;
				width: 90%;
				margin: 20px auto;
				font-size: 1em;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.7;
				letter-spacing: normal;
				text-align: center;
			color: #3c515f;
				padding-bottom: 10px;
				border-bottom: 1px solid #D3D3D3;

				@media #{$s} {
					width: 90%;
					font-size: 1em;
					line-height: 1.3;
					margin: 10px auto;
				}
			}
		}

		h2, h3 {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
		}



  }
}
  
  .slider__btns button {
		position: absolute;
    top: 45%;
    height: 45px;
    display: block;
  	background: transparent;
   	border: none;
    cursor: pointer;
		font-size: 42px;
		color: #fff;
  }
	
  
  .slider__btns__prev {
  	position: absolute;
    left: 30px;
		@media #{$s} {
			left: 5px;
			padding: 0;
		}
  }
  
  .slider__btns__next {
  	position: absolute;
    right: 30px; 
		@media #{$s} {
			right: 5px;
			padding: 0;
		}
  }