@import 'variables';
@import 'mixins';
@import 'grid';
@import 'form';

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: #{$font-size-base}px;

	@media #{$s} {
		font-size: 12px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.hidden {
	display: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

// I need to pass px to ems
h1 {
	font-size: (72 / $font-size-base) * 1em;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h2 {
	font-size: (50 / $font-size-base) * 1em;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h3 {
	font-size: (28 / $font-size-base) * 1em;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h4 {
	font-size: (24 / $font-size-base) * 1em;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h5 {
	font-size: (18 / $font-size-base) * 1em;
	line-height: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h6 {
	font-size: (12 / $font-size-base) * 1em;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 1px;
}

p {
	font-size: (15 / $font-size-base) * 1em;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #3c515f;
}

.full-height {
	height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

	&--show {
		display: block;
	}
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.accordion__content {
	background: rgba(180, 191, 194, 0.9);
	p {
		margin: 0;
	}
}

.offices-list {
	min-height: 70px;
	text-align: center;
	padding-top: 25px;
	margin: 0;
	li {
		display: inline-block;
		border-right: 1px #fff solid;
		
		&:last-child {
				border: none;
		}

		a {
			text-decoration: none;
			display: block;
			padding: 0 7px;
			color: #fff;
			font-weight: 300;
			font-size: 11px;
		
		}
	}
}

.bs-contact-info {
	color: #fff;
}

.learn-more-link {
	display: block;
	width: 70%;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
}

@import 'menu';
@import 'header';
@import 'header_slider';
@import 'clean_vc';
@import 'modal';
@import 'contact_form';
@import 'projects';
@import 'donate';
@import 'posts';
@import 'posts';


