@import 'variables';
@import 'mixins';
@import 'grid';
@import 'form';

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.hidden {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
// I need to pass px to ems
h1 {
	font-size: 72px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h2 {
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h3 {
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;

	letter-spacing: normal;
}

h4 {
		font-size: 28px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;

	letter-spacing: normal;

}

h5 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h6 {
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.85;
	letter-spacing: normal;
}

p {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #3c515f;
}

.full-height {
	height: 100%;
}

.line {
	width: 1px;
	height: 13px;
	border: solid 1px #ffffff;
}

.grid-item {
  float: left;
	padding: 15px 15px;

	&__content {
		background: #fff;

		&__texts {
			padding: 15px;
			word-wrap: break-word;

			h5 {
				color: #324049;
				padding-bottom: 15px;
				border-bottom: 1px solid #E34E6B;
				margin-top: 15px;

				a {
					color: #324049;
					text-decoration: none;
				}
		
			}
		}
		
	}
}

.grid-item, .grid-sizer {
	width: 25%;
	@media #{$s} {
		width: 50%;
	}
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

	&--show {
		display: block;
	}
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.accordion__content {
	background: rgba(180, 191, 194, 0.9);
	p {
		margin: 0;
	}
}

.offices-list {
	min-height: 70px;
	text-align: center;
	padding-top: 25px;
	margin: 0;
	li {
		display: inline-block;
		border-right: 1px #fff solid;
		a {
			display: block;
			padding: 0 7px;
			color: #fff;
			font-weight: 300;
			font-size: 11px;
		}
	}

}
@import 'menu';
@import 'header';
@import 'header_slider';
@import 'clean_vc';
@import 'modal';
@import 'projects';


