@import 'variables';
@import 'mixins';
@import 'grid';
@import 'form';

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.hidden {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.93;
	letter-spacing: normal;
}

h2 {
font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.68;
	letter-spacing: normal;
}

h3 {
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.3;
	letter-spacing: normal;
}

h4 {
		font-size: 28px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;

}

h5 {
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

h6 {
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.85;
	letter-spacing: normal;
}

p {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	text-align: right;
	color: #3c515f;
}
@import 'header';
@import 'header_slider';
@import 'clean_vc';
@import 'modal';

