.nav {
	height: 140px;
	width: 100%;
	padding: 45px 60px 0  60px;
	background: #fff;
	float: left;

	@media #{$s} {
		padding: 0;
		text-align: center;
		position: relative;
	}

	&__donate {
		a {
			font-size: (20 / 15) * 1em !important;
		border-radius: 5px;
		border: 2px solid #F1364E;
		padding: 15px 40px;
		text-align: center;
		display: block;
		color: #F1364E !important;
		}
		
	}
}

.logo {
	@media #{$s} {
		margin: 10% auto;
		display: block;
	}
}

.open-menu {
	display: none;
	
	@media #{$s} {
		display: block;
		position: absolute;
		top: 40%;
		left: 20px;
	}
}

.menu {
	float: right;
	display: none;
	&--show {
		display: block;
	}
	
	&--mobile {
		display: none;
		height: 100%;
		position: fixed;
		left: -200px;
		top: 0;
		background: #fff;
		width: 200px;
		transition: all 300ms;
		background: #3C515F;
		padding: 40px 0;
		margin: 0;
		z-index: 1020;

		@media #{$s} {
			display: block;	
		}

		&--open {
			left: 0;
		}

		li {
			list-style: none;
			width: 100%;
			display: block;

			a {
				display: block;
				padding: 10px 0;
				color: #fff;
				font-size: 1.5em;
			}
		}
	}
	
	@media #{$s} {
		display: none;	
	}

	li {
		list-style: none;
		display: inline-block;
		margin-right: 40px;

		a {
			color: #3C515F;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
		}
	}
}

