.nav {
	height: 140px;
	width: 100%;
	padding: 45px 60px 0  60px;
	background: #fff;
	float: left;
	@media #{$s} {
		text-align: center;
	}
}

.menu {
	float: right;

	&--mobile {
		display: none;
		height: 100%;
		position: fixed;
		left: -200px;
		top: 0;
		background: #fff;
		width: 200px;

		@media #{$s} {
			display: block;	
		}
	}
	
	@media #{$s} {
		display: none;	
	}

	li {
		list-style: none;
		display: inline-block;
		 margin-right: 40px;
		a {
			color: #3C515F;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
		}
	}
}

