.menu {
	@media #{$s} {
		display: none;	
	}

	li {
		list-style: none;
		display: inline-block;
		 margin-right: 40px;
		a {
			color: #3C515F;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
		}
	}
}

