.bs-post {
	width: 100%;
	display: block;
	position: relative;
	
	@media #{$s} {
		padding: 0 20px;
	}

	&__header {
		border-bottom: 1px solid #D0011B;
		margin-bottom: 100px;

		@media #{$s} {
			margin-bottom: 20px;
		}

		&__title {
			padding-bottom: 70px;

			@media #{$s} {
				padding-bottom: 20px;
			}

			h2 {
				color: #3C515F;
			}
		}

		&--image {
			min-height: 600px;
			width: 100%;
			border-bottom: none;
			position: relative;
			background-size: cover; 
			background-position: center;

			&__title {
				margin: -8% auto 100px auto;
				min-height: 50px;
				background: #F4F4F4;
				text-align: center;
				color: #3C515F;
				padding: 2% 8%;
				width: 100%;
				position: relative;
				z-index: 1020;
				
				h2 {
					font-size: (45 / $font-size-base) * 1em;
				}
			}
		}
	
	}
	
	&__content {
		float: none;
		margin: 0 auto 100px auto;
		@media #{$s} {
			margin-bottom: 20px;
		}
	}

	&__recent {
		width: 25%;
		padding: 15px;
		float: left;
		
		@media #{$s} {
			width: 100%;
		}

		&__content {
			background: #F7F7F7;
			padding: 20px;

			h4 {
				font-size: (18 / 15) * 1em;
				color: #3C515F;
				display: block;
				border-bottom: 1px solid #D0011B;
				padding-bottom: 20px;
			}

			p {
				color: #9B9B9B;
			}

			a {
				color: #D0011B;
				
			}
		}
	}

	&__donate {
		background: #3C515F;
		padding: 40px 0;

		h3 {
			font-size: (22 / 15) * 1em;
			color: #fff;
			margin: 30px auto;
		}
	}
	
}
