.bs-post {
	&__header {
		position: relative;
		height: 400px;
		width: 100%;
	}
	
	&__title {
		position: absolute;
		bottom: -30%;
		left: 0;
		right: 0;
		margin: auto;
		width: 50%;
		background: #3C515F;
		text-align: center;
		color: #fff;
	}
	
}