.bs-post-list {
	&__main {
		padding: 80px 160px 80px 80px;
		h2 {
			font-size: (35 / 15) * 1em;
			color: #fff;
		}

		&__img {
			float: left;
			width: 30%;
			height: 400px;
		}

		&__content {
			float: left;
			width: 70%;
			height: 400px;
		}
	}

	&__item {
			&__img {
				float: left;
				width: 30%;
				height: 400px;
			}

			&__content {
				float: left;
				width: 70%;
				height: 400px;
			}
	}


}
