.bs-post {
	width: 100%;
	display: block;
	position: relative;

	&__header {
		border-bottom: 1px solid #D0011B;
		margin-bottom: 100px;

		&__title {
			padding-bottom: 70px;
			

			h2 {
				color: #3C515F;
			}
		}

		&--image {
			position: relative;
			min-height: 400px;
			width: 100%;
			border-bottom: none;

			&__title {
				position: absolute;
				bottom: 90%;
				left: 0;
				right: 0;
				margin: auto;
				min-height: 240px;
				background: #F4F4F4;
				text-align: center;
				color: #fff;
				padding: 30px;


			}
		}
	
	}
	
	&__content {
		padding-top: 150px;
		float: none;
		margin: 0 auto 100px auto;
	}
	
}
