.bs-post {
	float: left;
	width: 100%;
	display: block;
	position: relative;

	&__header {
		
		&__title {
			padding-bottom: 70px;
			border-bottom: 1px solid #D0011B;
		}

		&--image {
			position: relative;
			min-height: 400px;
			width: 100%;

			&__title {
				position: absolute;
				bottom: -120px;
				left: 0;
				right: 0;
				margin: auto;
				width: 50%;
				min-height: 240px;
				background: #3C515F;
				text-align: center;
				color: #fff;
				padding: 30px;
				@media #{$m} {
					width: 80%;
				}
			}
		}
	
	}
	
	&__content {
		padding-top: 150px;
		width: 50%;
		margin: 0 auto;
		@media #{$m} {
			width: 80%;
		}
	}
	
}