.bs-post {
	width: 100%;
	display: block;
	position: relative;

	&__header {
		border-bottom: 1px solid #D0011B;
		margin-bottom: 100px;

		&__title {
			padding-bottom: 70px;
			

			h2 {
				color: #3C515F;
			}
		}

		&--image {
			min-height: 400px;
			width: 100%;
			border-bottom: none;
			background-size: cover; 
			background-position: top center;

			&__title {
				margin: -5% auto 100px auto;
				min-height: 240px;
				background: #F4F4F4;
				text-align: center;
				color: #3C515F;
				padding: 5% 8%;
			}
		}
	
	}
	
	&__content {
		padding-top: 150px;
		float: none;
		margin: 0 auto 100px auto;
	}
	
}
