.bs-posts-list {
	float: left;
	width: 100%;
	
	@media #{$s} {
		padding: 0 20px;
	}

	& > h3 {
		display: block;
		float: left;
		width: 100%;
		margin: 40px 0;
		font-size: (25 / 15) * 1em;
		color: #3c515f; 
	}

	&__pagination {
		width: 30%;
		margin: 40px auto;
		@media #{$s} {
			width: 80%;
		}
		button {
			background: transparent;
			border-radius: 2px;
			border: solid 2px #bbc5c8;
			color: #3c515f;
			font-size: 20px;
		}
	}
	

	&__main {
		float: left;
		margin-bottom: 40px;
		width: 100%;

		&__img {
			float: left;
			width: 35%;
			height: 400px;
			background-position: center;
			background-size: cover;
			background-color: #3c515f;

			@media #{$s} {
				width: 100%;
				min-height: 200px;
				height: auto;
			}
		}

		&__content {
			float: left;
			width: 65%;
			height: 400px;
			padding: 80px 160px 80px 80px;

			@media #{$s} {
				width: 100%;
				height: auto;
				padding: 20px;
			}
				
			h2 {
				font-size: (35 / 15) * 1em;
				color: #fff;
				display: inline-block;

				&:after {
						display: block;
						content: '';
						padding-bottom: 20px;
						width: 40%;
						border-bottom: solid 1px #d0011b;
					}
			}

			p {
					color: #f8f8f8;
			}

			a {
				margin-top: 40px;
				display: block;
				color: #f8f8f8;
			}
		}
	}

	&__item {
		float: left;
		margin-bottom: 40px;
		width: 100%;
		@media #{$s} {
			padding: 20px;
			background: #fff;
			margin-bottom: 20px;
		}
		
		&__readmore {
			color: #d0021b;
			text-align: right;
			float: right;
			@media #{$s} {
				display: block;
				width: 100%;
			}
		}

			&__img {
				float: left;
				width: 35%;
				background-position: center;
				background-size: cover;
				background-color: #3c515f;
				
				@media #{$s} {
					width: 30%;
					height: 95px;
				}
			}

			&__content {
				float: left;
				width: 70%;
				padding: 40px 40px 40px 40px;
				background: #fff;

				@media #{$s} {
					width: 70%;
					padding: 0 0 0 20px;
				}
				
				h2 {
					font-size: (25 / 15) * 1em;
					color: #2e404c;
					display: inline-block;
					padding-right: 20%;
					
					@media #{$s} {
						padding: 0 0 20px 0;
						font-size: 1em;
						width: 100%;
					}
					
					&:after {
						display: block;
						content: '';
						padding-bottom: 20px;
						width: 40%;
						border-bottom: solid 1px #d0011b;
						@media #{$s} {
							width: 100%;
						}
					}
				}
				p {
					color: #9b9b9b;
					display: block;
					padding-right: 20%;

					@media #{$s} {
						display: none;
					}
				}
		}
	}


}
