.bs-post-list {
	float: left;
	width: 100%;
	
	h3 {
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 40px;
	}

	&__main {
		float: left;
		margin-bottom: 40px;
		width: 100%;

		&__img {
			float: left;
			width: 35%;
			height: 400px;
		}

		&__content {
			float: left;
			width: 65%;
			height: 400px;
			padding: 80px 160px 80px 80px;
				
			h2 {
				font-size: (35 / 15) * 1em;
				color: #fff;
			}

			p {
					color: #f8f8f8;
			}
		}
	}

	&__item {
		float: left;
		margin-bottom: 40px;
		width: 100%;
		display: flex;

			&__img {
				float: left;
				width: 35%;
			}

			&__content {
				float: left;
				width: 65%;
				padding: 40px 20% 40px 40px;
				background: #fff;
				@media #{$s} {
					width: 100%;
				}
				
				h2 {
					font-size: (25 / 15) * 1em;
					color: #2e404c;
				}
				p {
					color: #9b9b9b;
				}
		}
	}


}
