.bs-post-list {
	&__main {
		&__img {
			float: left;
			width: 30%;
			height: 400px;
		}

		&__content {
			float: left;
			width: 70%;
			height: 400px;
		}
	}

	&__item {
			&__img {
				float: left;
				width: 30%;
				height: 400px;
			}

			&__content {
				float: left;
				width: 70%;
				height: 400px;
			}
	}


}
