.grid-item {
  float: left;
	padding: 15px 15px;

	&__content {
		background: #fff;

		img {
			width: 100%;
			display: block;
			min-height: 10px;
		}

		&__texts {
			padding: 15px;
			word-wrap: break-word;

			h5 {
				color: #324049;
				padding-bottom: 15px;
				margin-top: 15px;
				display: block;
				&:before {
					display: block;
					content: ' ';
					width: 70%;
					border-bottom: 1px solid #E34E6B;	
				}
				a {
					color: #324049;
					text-decoration: none;
				}
		
			}

			p {
				color: #9B9B9B !important;
			}
		}
		
	}
}

.grid-item, .grid-sizer {
	width: (100 / 3) * 1%;
	@media #{$m} {
		width: 50%;
	}

	@media #{$s} {
		width: 100%;
	}
}
