.bs-posts-list {
	float: left;
	width: 100%;

	& > h3 {
		display: block;
		float: left;
		width: 100%;
		margin: 40px 0;
		font-size: (25 / 15) * 1em;
		color: #3c515f; 
	}

	&__pagination {
		width: 30%;
		margin: 40px auto;

		button {
			background: transparent;
			border-radius: 2px;
			border: solid 2px #bbc5c8;
			color: #3c515f;
			font-size: 20px;
		}
	}
	


	&__main {
		float: left;
		margin-bottom: 40px;
		width: 100%;

		&__img {
			float: left;
			width: 35%;
			height: 400px;
			background-position: center;
			background-size: cover;
			background-color: #3c515f;
			@media #{$s} {
				width: 100%;
			}
		}

		&__content {
			float: left;
			width: 65%;
			height: 400px;
			padding: 80px 160px 80px 80px;

			@media #{$s} {
				width: 100%;
			}
				
			h2 {
				font-size: (35 / 15) * 1em;
				color: #fff;
				display: inline-block;

				&:after {
						display: block;
						content: '';
						padding-bottom: 20px;
						width: 40%;
						border-bottom: solid 1px #d0011b;
					}
			}

			p {
					color: #f8f8f8;
			}

			a {
				margin-top: 40px;
				display: block;
				color: #f8f8f8;
			}
		}
	}

	&__item {
		float: left;
		margin-bottom: 40px;
		width: 100%;
		display: flex;

		&__readmore {
			color: #d0021b;
			text-align: right;
			float: right;
		}

			&__img {
				float: left;
				width: 35%;
				background-position: center;
			background-size: cover;
			background-color: #3c515f;
				@media #{$s} {
				width: 40%:
				}
			}

			&__content {
				float: left;
				width: 65%;
				padding: 40px 40px 40px 40px;
				background: #fff;

				@media #{$s} {
					width: 60%;
				}
				
				h2 {
					font-size: (25 / 15) * 1em;
					color: #2e404c;
					display: inline-block;
					padding-right: 20%;
					&:after {
						display: block;
						content: '';
						padding-bottom: 20px;
						width: 40%;
						border-bottom: solid 1px #d0011b;
					}
				}
				p {
					color: #9b9b9b;
					display: block;
					padding-right: 20%;
				}
		}
	}


}
