.projects {
	
	&__icons {
		text-align: center;
		padding: 0;
		margin-bottom: 60px;
		@media #{$s} {
			margin-bottom: 10px;
		}
		li {
			display: inline-block;
			margin-right: 50px;

			@media #{$s} {
				margin: 0 2%;
				width: (100 / 9) - 4 * 1%;
				svg {
					width: 100%;
				}
			}
		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		left: 0;
		margin-bottom: -30px;
		z-index: 1011;
		width: 0; 
  	height: 0; 
  	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
  	border-top: 30px solid #fff;
		transition: 300ms all;
	}

	&__content{
		position: relative;
		display: flex;

		&__content-left {
			transition: 300ms all;
			padding: 90px;
			
			@media #{$s} {
				padding: 60px 30px;
			}

			h4 {
				color: #fff;
				margin: 0 0 60px 0;
			}

			&__text, p {
				color: #fff;
				margin-bottom: 30px;
			}
		}

		&__content-right {
			transition: all 300ms;
		}
	}
}