.projects {
	
	&__icons {
		text-align: center;

		li {
			display: inline-block;
			margin-right: 50px;
		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		left: 0;
		margin-bottom: -30px;
		z-index: 1011;
		width: 0; 
  	height: 0; 
  	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
  	border-top: 30px solid #f00;
	}

	&__content{
		position: relative;
		
		&__content-left {
			transition: 300ms all;
			padding: 90px;

			h4 {
				color: #fff;
				margin: 0 0 60px 0;
			}

			p {
				color: #fff;
				margin-bottom: 30px;
			}
		}
	}
}