.projects {
	&__icons {
		text-align: center;

		li {
			display: inline-block;
			margin-right: 50px;
		}
	}

	&__content{
		&__content-left {
			transition: 300ms all;
			padding: 90px;

			h4 {
				color: #fff;
				margin: 0 0 60px 0;
			}

			p {
				color: #fff;
				margin-bottom: 30px;
			}
		}
	}
}