// Responsive Breakpoints
$xl: "(min-width: 1200px)";

/* Portrait tablets and medium desktops */

$l: "(min-width: 992px) and (max-width: 1199px)";

/* Portrait tablets and small desktops */

$m: "(min-width: 768px) and (max-width: 991px)";

/* Landscape phones and portrait tablets */

$s: "(max-width: 767px)";

/* Landscape phones and smaller */

$xs: "(max-width: 369px)";
//grid
$grid-gutter: 15px;
//fonts
//colors
// Forms
$bs-input-height: 34px;
$bs-input-placeholder-color: #999;
$bs-input-color: #000;
$bs-input-background-color: #fff;
$bs-input-background-focus-color: #fff;
$bs-input-border-color: #ccc;
$bs-input-border-focus-color: #f7c723;
$bs-select-box-height: 36px;