.via-crucis-nav {	
	border-left: 1px solid #979797;
	list-style: none;
	padding: 0;
	margin: 40px 0 40px 0;
	margin-bottom: 40px !important;
	
	li {
		 position: relative;
		 padding: 5px 0 5px 20px;
		 &:first-child {
			 padding-top: 0;
			 &:before {
				 top: -8px !important;
			 }
		 }
		 
		 &:last-child {
			 padding-bottom: 0;
			 &:before {
				 top: 8px !important;
			 }
		 }
		 
		 &.active, &:hover {
			 &:before {
			 content: '+';
			 position: absolute;
			 left: -6px;
			 top: 4px;
			 color: #9B9B9B;
			 font-size: 24px;
			 transition: all 300ms;
			}
		}

		a {
			color: #9b9b9b;
		}
		 
	}
	
}

.via-crucis__left  {
	.vc_column-inner  {
		padding: 40px 20px 0  20px;
		min-height: 700px;
	}
}

.via-crucis__right  {
	.vc_column-inner  {
		min-height: 700px;
		padding: 40px 20px 0  20px;
		
		@media #{$s} {
			height: auto;
			padding: 20px;
		}
	}
}