.via-crucis-nav {	
	border-left: 2px solid #979797;
	list-style: none;
	padding: 0;
	
	li {
		 position: relative;
		 padding-left: 20px;
		 
		 &:before {
			 content: '+';
			 position: absolute;
			 left: -5px;
			 color: #9B9B9B;
			 font-size: 24px;
		 }
	}
	
}