.via-crucis-nav {	
	border-left: 1px solid #979797;
	list-style: none;
	padding: 0;
	margin: 40px 0 40px 0;
	
	li {
		 position: relative;
		 padding: 10px 0 10px 20px;
		 &:first-child {
			 padding-top: 0;
			 &:before {
				 top: -8px;
			 }
		 }
		 
		 &:last-child {
			 padding-bottom: 0;
		 }
		 
		 &.active, &:hover {
			 &:before {
			 content: '+';
			 position: absolute;
			 left: -6px;
			 top: 0;
			 color: #9B9B9B;
			 font-size: 24px;
			}
		}

		a {
			color: #9b9b9b;
		}
		 
	}
	
}