.via-crucis-nav {	
	border-left: 2px solid red;
	list-style: none;
	
	li {
		 position: relative;
		 margin-left: 20px;
		 &:before {
			 content: '+';
			 position: relative;
			 left: 0;
		 }
	}
	
}