@mixin addColors() {
	&--grape {
		a {
			color: #381755 !important;
		}
		
		&:before {
			color: #381755 !important;
		}
	}

	&--affair {
		color: #674886;
			&:before {
			color: #674886;
		}
	}
}

.via-crucis-nav {	
	border-left: 1px solid #979797;
	list-style: none;
	padding: 0;
	margin: 40px 0 40px 0;
	margin-bottom: 40px !important;

	&--open {
		display: block !important;
	}
	
	@media #{$s} {
		display: none;
	}
	
	li {
		 position: relative;
		 padding: 5px 0 5px 20px;
		 
		 &:first-child {
			 padding-top: 0;
			 &:before {
				 top: -8px !important;
			 }
		 }
		 
		 &:last-child {
			 padding-bottom: 0;
			 
			 &:before {
				 top: 8px !important;
			 }
		 }
		 
		 &.active {
			 @include addColors;

		 }
		 
		 &.active, &:hover {
			 &:before {
			 content: '+';
			 position: absolute;
			 left: -6px;
			 top: 0;
			 color: #9B9B9B;
			 font-size: 24px;
			 transition: all 300ms;
			}
		}

		a {
			color: #9b9b9b;
		}
		 
	}
	
}

.via-crucis__left  {
	.vc_column-inner  {
		padding: 40px 20px 0  20px;
		padding-top: 40px !important;
		min-height: 700px;
		@media #{$s} {
			height: auto;
			min-height: auto;
			padding: 20px;
		}
	}
}

.via-crucis__right  {
	.vc_column-inner  {
		min-height: 700px;
		padding: 40px 20px 0  20px;
		
		@media #{$s} {
			height: auto;
			min-height: auto;
			padding: 20px;
		}
	}
}

.via-crucis__header {
	position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: purple;
  padding: 40px;

	@media #{$s} {
		position: relative;
	}
}
