/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }
  .l-wrap:after {
    display: table;
    clear: both;
    content: ''; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 767px), (max-width: 369px) {
  .col-1 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-1-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-1-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-2 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-2-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-2-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-3 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-3-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-3-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-4 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-4-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-4-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-5 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-5-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-5-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-6 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-6-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-6-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-7 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-7-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-7-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-8 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-8-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-8-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-9 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-9-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-9-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-10 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-10-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-10-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-11 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-11-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-11-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-12-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-12-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-full {
  width: 100%; }

input,
select {
  background: transparent;
  width: 100%;
  display: block;
  height: 45px;
  border: 1px solid #6A7C82;
  transition: all 300ms;
  padding: 6px 12px;
  font-size: .8em; }
  input:focus,
  select:focus {
    border-color: #f7c723;
    box-shadow: none;
    outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAABGdBTUEAALGPC/xhBQAAAKhJREFUGBljzKlp9mNk/P9wcnPdRQYiQU5DmwbDv3+6TIzsDFf//mfcnF3blEKMXqC6sP9//+xnYmK8znxq//73Fq5Om/79YZxvZu/4+fSh/edwGQLSCJSbyMzM7DqpofoKM0ghMQagawTpA2smZAA2jSiacRmASyNIPSOIQAe5zc3Kf38y7GdiYNjxn/G/L8yP6OqwagYpAhvwi2E1CzNTHChw0DWC+AArSGqXBnEQJwAAAABJRU5ErkJggg==") no-repeat 90% 50%;
  border-radius: 0; }

.form-inline select, .form-inline input, .form-inline .input-container {
  display: inline-block;
  vertical-align: top;
  width: auto; }
  @media (max-width: 767px) {
    .form-inline select, .form-inline input, .form-inline .input-container {
      width: 100%;
      padding: 0 15px; } }

.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.input-container {
  margin-bottom: 10px; }

.input-error {
  background: #F4334A;
  color: #fff;
  text-align: left;
  width: 95%;
  font-size: .9em;
  padding: 3px 0 3px 12px;
  border-radius: 3px; }

button {
  height: 45px;
  background: #F4334A;
  border: 2px solid #F4334A;
  padding: 1px 40px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px; }
  button:focus {
    outline: none; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hidden {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

h2 {
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

h3 {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

h4 {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

h6 {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal; }

p {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #3c515f; }

.full-height {
  height: 100%; }

.line {
  width: 1px;
  height: 13px;
  border: solid 1px #ffffff; }

.grid-item {
  float: left;
  padding: 15px 15px; }
  .grid-item__content {
    background: #fff; }
    .grid-item__content__texts {
      padding: 7px; }

.grid-item, .grid-sizer {
  width: 25%; }
  @media (max-width: 767px) {
    .grid-item, .grid-sizer {
      width: 50%; } }

.nav {
  height: 140px;
  width: 100%;
  padding: 45px 60px 0  60px;
  background: #fff;
  float: left; }
  @media (max-width: 767px) {
    .nav {
      text-align: center; } }

.menu {
  float: right; }
  @media (max-width: 767px) {
    .menu {
      display: none; } }
  .menu li {
    list-style: none;
    display: inline-block;
    margin-right: 40px; }
    .menu li a {
      color: #3C515F;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5; }

.slider {
  width: 100%;
  position: relative;
  transition: left 400ms ease;
  overflow: hidden; }
  .slider__viewport {
    width: 100%;
    position: relative;
    transition: left 400ms ease;
    height: 520px; }
  .slider__slide {
    width: 100%;
    background: #274F5E;
    display: -ms-flexbox;
    display: flex;
    float: left;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 90px; }
    .slider__slide h2, .slider__slide h3 {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }
    .slider__slide h2 {
      font-size: 72px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.93;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59); }
    .slider__slide h3 {
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.68;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.59); }

.slider__btns button {
  position: absolute;
  top: 45%;
  height: 45px;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 42px;
  color: #fff; }

.slider__btns__prev {
  position: absolute;
  left: 30px; }

.slider__btns__next {
  position: absolute;
  right: 30px; }

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
  padding-top: 0; }

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
  margin-bottom: 0 !important; }

.modal {
  background: RGBA(43, 55, 64, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999999;
  transition: all 300ms ease;
  top: -100%;
  opacity: 0;
  left: 0;
  right: 0; }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .modal {
      width: 100%; } }
  .modal__close {
    color: darkred;
    font-size: 32px;
    display: block;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1010; }
  .modal .iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; }
    .modal .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .modal--show {
    z-index: 999999;
    top: 0;
    opacity: 1; }
    @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .modal--show {
        top: 60px; } }

.projects__icons {
  text-align: center;
  padding: 0;
  margin-bottom: 60px; }
  .projects__icons li {
    display: inline-block;
    margin-right: 50px; }
    @media (max-width: 767px) {
      .projects__icons li {
        margin-right: 1%;
        width: 10.11111%; }
        .projects__icons li svg {
          width: 100%; } }

.projects__arrow {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: -30px;
  z-index: 1011;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  transition: 300ms all; }

.projects__content {
  position: relative;
  display: -ms-flexbox;
  display: flex; }
  .projects__content__content-left {
    transition: 300ms all;
    padding: 90px; }
    .projects__content__content-left h4 {
      color: #fff;
      margin: 0 0 60px 0; }
    .projects__content__content-left__text, .projects__content__content-left p {
      color: #fff;
      margin-bottom: 30px; }
  .projects__content__content-right {
    transition: all 300ms; }
