/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }
  .l-wrap:after {
    display: table;
    clear: both;
    content: ''; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 767px), (max-width: 369px) {
  .col-1 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-1-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-1-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 8.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-2 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-2-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-2-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-3 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-3-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-3-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 25%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-4 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-4-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-4-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-5 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-5-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-5-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 41.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-6 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-6-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-6-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-7 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-7-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-7-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 58.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-8 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-8-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-8-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 66.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-9 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-9-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-9-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 75%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-10 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-10-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-10-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-11 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-11-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-11-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 91.66667%; } }

@media (max-width: 767px), (max-width: 369px) {
  .col-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-12-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
  .col-12-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%; } }

.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-full {
  width: 100%; }

input,
select {
  background: transparent;
  width: 100%;
  display: block;
  height: 45px;
  border: 1px solid #6A7C82;
  transition: all 300ms;
  padding: 6px 12px;
  font-size: .8em; }
  input:focus,
  select:focus {
    border-color: #f7c723;
    box-shadow: none;
    outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAABGdBTUEAALGPC/xhBQAAAKhJREFUGBljzKlp9mNk/P9wcnPdRQYiQU5DmwbDv3+6TIzsDFf//mfcnF3blEKMXqC6sP9//+xnYmK8znxq//73Fq5Om/79YZxvZu/4+fSh/edwGQLSCJSbyMzM7DqpofoKM0ghMQagawTpA2smZAA2jSiacRmASyNIPSOIQAe5zc3Kf38y7GdiYNjxn/G/L8yP6OqwagYpAhvwi2E1CzNTHChw0DWC+AArSGqXBnEQJwAAAABJRU5ErkJggg==") no-repeat 90% 50%;
  border-radius: 0; }

.form-inline select, .form-inline input, .form-inline .input-container {
  display: inline-block;
  vertical-align: top;
  width: auto; }
  @media (max-width: 767px) {
    .form-inline select, .form-inline input, .form-inline .input-container {
      width: 100%;
      padding: 0 15px; } }

.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.input-container {
  margin-bottom: 10px; }

.input-error {
  background: #F4334A;
  color: #fff;
  text-align: left;
  width: 95%;
  font-size: .9em;
  padding: 3px 0 3px 12px;
  border-radius: 3px; }

button {
  height: 45px;
  background: #F4334A;
  border: 2px solid #F4334A;
  padding: 1px 40px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px; }
  button:focus {
    outline: none; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hidden {
  display: none; }

.nav {
  height: 140px;
  width: 100%;
  padding: 45px 60px 0  60px;
  background: #fff;
  float: left; }
  .nav .menu {
    float: right; }

.slider {
  width: 100%;
  position: relative;
  transition: left 400ms ease;
  overflow: hidden; }
  .slider__viewport {
    width: 100%;
    position: relative;
    transition: left 400ms ease;
    height: 520px; }
  .slider__slide {
    float: left;
    width: 100%;
    background: #274F5E;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: #fff; }
