.bs-about {

	&__left {
		text-align: right;
		padding: 40px 0 0 0;

		@media #{$s} {
			text-align: center;
		}
	}

	&__right {
			padding: 40px;
			@media #{$s} {
				text-align: center;
			}

			h3 {
				color: RGBA(241, 54, 78, 1.00);
				display: inline-block;
				padding-bottom: 20px;

				&:after {
					display: block;
					content: ' ';
					width: 60%;
					border-bottom: 2px solid RGBA(241, 54, 78, 1.00);
				}
			}

			p {
				display: block;
				width: 80%;
				line-height: 1.4;
				@media #{$s} {
					width: 100%;
				}
			}
		}


}

.bs-footer {

	&__left {
		height: 400px;
		background: RGBA(60, 81, 95, 1.00);
		color: #fff;
		padding: 50px 60px 0 60px;
		@media #{$s}{
			display: none;
		}
		
		img {
			display: block;
			margin: 30px 0;
				@media #{$s} {
					display: initial;
				}
		}

		p {
			color: #fff;
		}

		@media #{$s} {
			text-align: center;
		}
	}
	
	&__right {
		height: 400px;
		padding: 0;
		@media #{$s} {
			height: auto;
		}
		
		&--top {
			width: 100%;
			height: 200px;
			background: RGBA(247, 247, 247, 1.00);
			padding: 40px;
			
			@media #{$s} {
				height: auto;
			}

		}

		&--bottom {
			width: 100%;
			height: 200px;
			background-color: RGBA(43, 58, 68, 1.00);
			background-image: url('//acninternational.org/wp-content/uploads/2017/02/wire_white_bg2.png');
			color: #fff;
			padding: 40px;

			@media #{$s} {
				height: auto;
				text-align: center;
			}

			div {
				margin-bottom: 15px;
			}

			a {
				color: #fff;
			}
		}
	}

	&__bottom {
		&--top {
			width: 100%;
			background: RGBA(46, 67, 81, 1.00);
			padding: 7px 0;
			text-align: center;
			float: left;

			h6 {
				color: #808080;
			}
		}

		&--bottom {
			width: 100%;
			float: left;
			padding: 30px;
			text-align: right;
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
			@media #{$s} {
				display: block;
				margin: 10px 0;
				text-align: center;
			}
			a {
				color: #3c515f;
			}
		}
	}

	.privacy-terms {
		text-align: right;
			@media #{$s} {
				text-align: center;
			}
	}
}

.learn-more {
	background: RGBA(241, 54, 78, 1.00);
	padding: 30px;
	float: left;
	width: 100%;
	text-align: center;

	&-link {
		font-size: 1.86667em;
		text-align: center;
		display: block;
		width: 70%;
		margin: 0 auto;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		@media #{$s} {
			font-size: 1em;
		}
	}

}

.footer-donate {
	&__top {
		background: #F7F7F7;
		padding: 20px 0;
		font-size: 14px;
		color: #9B9B9B;
	}
	&__bottom {
		display: flex;
		flex-wrap: wrap;

		&--left {
				padding: 60px 0;
			background: RGBA(60, 81, 95, 1.00);
			color: #fff; 
		
		}

		&--right {
				padding: 60px 0;
			background: RGBA(43, 58, 68, 1.00);
			color: #fff;

			img {
				float: left;
			}

			&__content {
				float: left;
				padding-left: 40px;
			}

			h3 {
				padding-bottom: 20px;
				color: #fff;
				float: left;

				&:after {
					content: '';
					width: 70%;
					height: 2px;
					background: #fff;
					display: block;
				}

			}

			p {
				color: #fff;
				float: left;
				width: 100%;
			}
		}
	}
}