@import 'variables';
@import 'mixins';
@import 'grid';
@import 'form';

html {
	box-sizing: border-box;
}

html, body{
	height:100%;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: #{$font-size-base}px;
	transition: margin 300ms;
	position: relative;
	left: 0;
	transition: left 300ms;
	padding-top: 100px;

	@media #{$s} {
		font-size: 12px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.hidden {
	display: none;
}

a {
	text-decoration: none;
}

.menu-open {
	position: relative;
	left: 200px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

// I need to pass px to ems
h1 {
	font-size: (72 / $font-size-base) * 1em;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h2 {
	font-size: (50 / $font-size-base) * 1em;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h3 {
	font-size: (28 / $font-size-base) * 1em;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h4 {
	font-size: (24 / $font-size-base) * 1em;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h5 {
	font-size: (18 / $font-size-base) * 1em;
	line-height: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

h6 {
	font-size: (12 / $font-size-base) * 1em;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 1px;
}

p {
	font-size: (16 / $font-size-base) * 1em;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #3c515f;
}

.full-height {
	height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

	&--show {
		display: block;
	}
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.accordion__content {
	background: rgba(180, 191, 194, 0.9);
	p {
		margin: 0;
	}
}

.offices-list {
	min-height: 70px;
	text-align: center;
	padding-top: 25px;
	margin: 0;
	@media #{$s} {
		padding: 20px 5px;
	}

	li {
		display: inline-block;
		border-right: 1px #fff solid;
		
		&:last-child {
				border: none;
		}

		a {
			text-decoration: none;
			display: block;
			padding: 0 7px;
			color: #fff;
			font-weight: 300;
			font-size: 11px;
		
		}
	}
}

.bs-contact-info {
	color: #fff;
}

button, .btn {
	height: $bs-input-height;
	background: #F4334A;
	border: 2px solid #F4334A;
	padding: 1px 40px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	&:focus {
		outline: none;
	}
}

.bs-see-more {
  margin: 30px auto;
  background: transparent;
  color: #3C515F;
	border-color: #3C515F;
	padding: 8px 40px;
}

.hidden {
	display: none !important;
}

.btn {
	&--outline {
		font-size: (20 / 15) * 1em;
		border-radius: 5px;
		border: 2px solid #F1364E;
		padding: 15px 40px;
		text-align: center;
		display: block;
	}
}

.float-left {
	float: left;
}

.arrow-down {
	display: block;
	width: 40px;
  height: 40px;
  border-radius: 40px;
  background: RGBA(43, 58, 68, 1.00);
  text-align: center;
  padding-top: 13px;
  margin: 0 auto;
	color: #fff;
	cursor: pointer;

	@media #{$s} {
		display: none;
	}
}

#donate {
	background-position: top center !important;
}

.bs-section-donate {
	height: 700px;
	padding: 100px 0 0 100px;
	h2 {
		@media #{$s} {
			font-size: 2.2em;
		}
	}
	@media #{$s} {
		height: auto;
		padding: 20px;
	}

}

.download-pdf {
	width: 800px;
	margin: 0 auto;

	@media #{$s} {
		width: auto;
	}

	.input-container {
		@media #{$l}, #{$xl} {
			width: 35%;
		}
	}

	button {
		margin-left: -2px;
		border-radius: 3px;			

		@media #{$l}, #{$xl} {
			width: 30%;
		}

		@media #{$s} {
			margin-left: 15px;
		}
	}

	input, select {
		width: 100%;		
	}
}

.bs-share {
	border: 1px solid #3C515F;
	height: 85px;
	width: 220px;
	float: right;
	margin-right: 30px;

	@media #{$s} {
		margin: 0 auto;
		float: none;
	}

	a {
		display: block;
		float: left;
		width: 50%;
		text-align: center;
		font-size: 38px;
		height: 85px;
		color: #9B9B9B;
		padding-top: 20px;

		&:first-child {
			border-right:  1px solid #3C515F;
		}
	}
}

.breadcrumbs {
	margin: 40px 0;
	color: #ccc;
	
	a {
		color: #bbb;
	}
}

.bs-example h1 {
	color: red;
}

.bs-example h3 {
	color: blue;
}

@media(max-width:767px) and (min-width:480px){
	.bs-example h3 {
	color: orange;
	}
}

.skrollr_container {
	position:relative;
	width:100%;
}

.skrollr_container h1{
	position:inherit;
	margin:auto;
	padding:200px;
	font-size:20px;
	transform-origin: center;
	text-align: center;
}

@import 'menu';
@import 'header';
@import 'footer';
@import 'header_slider';
@import 'clean_vc';
@import 'modal';
@import 'contact_form';
@import 'projects';
@import 'donate';
@import 'posts';
@import 'post';
@import 'posts_list';
@import 'campaigns_slider';
@import 'via_crucis';



