.projects {
	
	&__icons {
		text-align: center;
		padding: 0;
		margin-bottom: 60px;
		
		@media #{$s} {
			margin-bottom: 0px;
		}

		li {
			display: inline-block;
			margin-right: 50px;

			@media #{$s} {
				margin: 0 2%;
				width: (100 / 9) - 4 * 1%;
				svg {
					width: 100%;
				}
			}
		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		left: 0;
		margin-bottom: -30px;
		z-index: 1011;
		width: 0; 
  	height: 0; 
  	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
  	border-top: 30px solid #fff;
		transition: 300ms all;
		@media #{$s} {
			border-left: 10px solid transparent;
  		border-right: 10px solid transparent;
  		border-top: 10px solid #fff;
		}
	}

	&__content{
		position: relative;
		display: flex;
		@media #{$s} {
			display: block;
		}

		&__content-left {
			transition: 300ms all;
			padding: 90px;
			
			@media #{$s} {
				padding: 30px;
				min-height: 200px !important;
			}

			h4 {
				color: #fff;
				margin: 0 0 60px 0;
				@media #{$s} {
					margin-bottom: 20px;
				}
			}
			
			&__text, p {
				color: #fff;
				margin-bottom: 30px;
				font-size: (16 / $font-size-base) * 1em;
				@media #{$s} {
					margin-bottom: 20px;
				}
			}

			p {
				font-size: 1em;
			}

		}

		&__content-right {
			transition: all 300ms;
			@media #{$s} {
				min-height: 200px !important;
			}
		}
	}
}